@import "./normalize.sass"
@import "./add-mission.sass"
@import "./clock.sass"

body
    position: relative
    width: 1920px
    height: 1080px
    background-color: #bc2b35

.app
    position: relative
    overflow: hidden
    height: 1080px
